<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ClaimStatementsContext" connectionString="Data Source=D3VMPRWSQL003; Initial Catalog=RPA.ClaimStatements; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IDTSecurityConnection" connectionString="Data Source=D3VMPRWSQL003;Initial Catalog=Security;Integrated Security=True;Pooling=False;Trusted_Connection=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.net>
    <mailSettings xdt:Transform="Remove"/>
    <mailSettings xdt:Transform="Insert">
      <smtp deliveryMethod="Network" >
        <network host="d2exc005.galaxy.gsi.gov.uk" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>